{% extends 'base.html.twig' %}
{% block title %}Edit Status{% endblock %}
{% block body %}
    <h1>Edit Status</h1>
    {{ include('status/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
