{% extends 'base.html.twig' %} {% block title %}Status index{% endblock %} {% block body %}
    <section class="flash-info"></section>
    <div class="modal-questions -not-all-screen" id="modal-questions"><h2 class="modal-questions__title">Voulez-vous que
            le message réapparaisse?</h2>
        <button class="btn btn-modal" data-time="temporary">Oui</button>
        <button class="btn btn-modal" data-time="always">Non</button>
    </div>
    <div class="app-main__inner">
        <div class="app-main__top">
            <nav aria-label="Vous êtes ici" class="breadcrumb">
                <ol>
                    <li><a href="#">Dashboard</a></li>
                    <li><span aria-current="page">Task statuses</span></li>
                </ol>
            </nav>
            <div class="app-main__top-btns"><a class="btn" data-fa-icon="&#xf0ae;" href="{{ path('app_status_new') }}">Create
                    task status</a></div>
        </div>
        <section class="tasks">
            <div class="table -has-status">
                <table class="table-responsive table-xs mb-0" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titre</th>
                        <th>Source title</th>
                        <th>Color</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody> {% for status in statuses %}
                        <tr>
                            <td class="w-5"> {{ status.id }} </td>
                            <td class="w-45"> {{ status.name }} </td>
                            <td> {{ status.name }} </td>
                            <td class="w-15"><span class="status " style="border-color: {{ status.color }}"> <span
                                            class="ghost">Status is </span> <span class="circle"
                                                                                  style="background-color: {{ status.color }}"></span> </span> {{ status.color }}
                            </td>
                            <td class="text-right w-15"><a class="btn -no-text -darked js -tooltip" title="Edit task"
                                                           data-fa-icon="&#xf044;"
                                                           href="{{ path('app_status_edit', {'id': status.id}) }}">Edit
                                    Color</a>
                                <form method="post" action="{{ path('app_status_delete', {'id': status.id}) }}"
                                      onsubmit="return confirm('Are you sure you want to delete this item?');"
                                      style="display: inline-block!important;margin:0"><input type="hidden"
                                                                                              name="_token"
                                                                                              value="{{ csrf_token('delete' ~ status.id) }}">
                                    <button class="btn -no-text js-tooltip" title="Remove task" data-fa-icon="&#xf2ed;">
                                        Remove
                                    </button>
                                </form>
                            </td>
                        </tr> {% endfor %} </tbody>
                </table>
            </div>
        </section>
    </div> {% endblock %}