<form method="post" action="{{ path('app_responsives_delete', {'id': responsife.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ responsife.id) }}">
    <button class="btn">Delete</button>
</form>
