{% extends 'base.html.twig' %}

{% block title %}Edit Responsives{% endblock %}

{% block body %}
    <h1>Edit Responsives</h1>

    {{ include('responsives/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_responsives_index') }}">back to list</a>

    {{ include('responsives/_delete_form.html.twig') }}
{% endblock %}
