{% extends 'base.html.twig' %}

{% block title %}Responsives index{% endblock %}

{% block body %}
    <h1>Responsives index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for responsife in responsives %}
            <tr>
                <td>{{ responsife.id }}</td>
                <td>{{ responsife.name }}</td>
                <td>
                    <a href="{{ path('app_responsives_show', {'id': responsife.id}) }}">show</a>
                    <a href="{{ path('app_responsives_edit', {'id': responsife.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_responsives_new') }}">Create new</a>
{% endblock %}
