{% extends 'base.html.twig' %}

{% block title %}New Responsives{% endblock %}

{% block body %}
    <h1>Create new Responsives</h1>

    {{ include('responsives/_form.html.twig') }}

    <a href="{{ path('app_responsives_index') }}">back to list</a>
{% endblock %}
