{% extends 'base.html.twig' %}

{% block title %}Responsives{% endblock %}

{% block body %}
    <h1>Responsives</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ responsife.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ responsife.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_responsives_index') }}">back to list</a>

    <a href="{{ path('app_responsives_edit', {'id': responsife.id}) }}">edit</a>

    {{ include('responsives/_delete_form.html.twig') }}
{% endblock %}
