.print-banner {
    display: block;
}

.stratis-menu,
.menu-extranet,
.flash-info,
.cookies-block,
.header,
.top-of-content,
.filters,
.same-category,
.menu-floating,
.sidebar,
.media-element,
.localiser,
.telecharger,
.organigramme,
.more-info,
.vote,
.pager,
.site-infos__links,
.social-networks,
.menu-cross,
.newsletter,
.footer__stratis,
.go-to-top,
.footer,
.typo3-adminPanel,
.stratis-menu-trigger,
.stratis-menu,
.preloader,
.tarteaucitronAlertBigBottom,
.tarteaucitronRoot,
.news,
.events,
.publications,
.subpages-menu-section,
.one-click-wrapper,
.share-block,
.links-group,
.site-hidden {
    display: none !important;
}

.heading {
    background: none;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: inherit;
}

.site-inner {
    display: block;
    table-layout: inherit;
}

.site-content:only-child,
.sidebar:only-child {
    max-width: inherit;
}

.site-wrapper,
.site-wrapper-out {
    display: block;
}

.click-roll__block {
    display: block !important;
    padding: 1rem 1.5rem !important;
}

.contact__wrapper {
    display: block !important;
}

.contact__item {
    display: block !important;
}

.contact__picture {
    display: inline-block !important;
    width: 17rem !important;
    vertical-align: top;
}

.contact__content {
    display: inline-block !important;
    vertical-align: top;
    width: -webkit-calc(100% - 23rem) !important;
    width: calc(100% - 23rem) !important;
}

.contact__details,
.contact__info {
    width: 100% !important;
}

.news-block__content-top {
    margin-top: 0;
}

/*# sourceMappingURL=print.css.map */
