<form method="post" action="{{ path('app_visibles_delete', {'id': visible.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ visible.id) }}">
    <button class="btn">Delete</button>
</form>
