{% extends 'base.html.twig' %}

{% block title %}Edit Visibles{% endblock %}

{% block body %}
    <h1>Edit Visibles</h1>

    {{ include('visibles/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_visibles_index') }}">back to list</a>

    {{ include('visibles/_delete_form.html.twig') }}
{% endblock %}
