{% extends 'base.html.twig' %}

{% block title %}Visibles index{% endblock %}

{% block body %}
    <h1>Visibles index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for visible in visibles %}
            <tr>
                <td>{{ visible.id }}</td>
                <td>{{ visible.name }}</td>
                <td>
                    <a href="{{ path('app_visibles_show', {'id': visible.id}) }}">show</a>
                    <a href="{{ path('app_visibles_edit', {'id': visible.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_visibles_new') }}">Create new</a>
{% endblock %}
