{% extends 'base.html.twig' %}

{% block title %}New Visibles{% endblock %}

{% block body %}
    <h1>Create new Visibles</h1>

    {{ include('visibles/_form.html.twig') }}

    <a href="{{ path('app_visibles_index') }}">back to list</a>
{% endblock %}
