{% extends 'base.html.twig' %}

{% block title %}Visibles{% endblock %}

{% block body %}
    <h1>Visibles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ visible.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ visible.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_visibles_index') }}">back to list</a>

    <a href="{{ path('app_visibles_edit', {'id': visible.id}) }}">edit</a>

    {{ include('visibles/_delete_form.html.twig') }}
{% endblock %}
