{{ form_start(form) }}
    {{ form_widget(form) }}
<div id="tasks" style="display: none" champ="tasks">  {{ form_row(formt.namet) }}{{ form_row(formt.imaget) }}{{ form_row(formt.Statust) }}</div>
<h1>Task</h1>
<div id="taskn"></div>
<a class="btn ajoutertask" data-fa-icon="&#xf319;" href="#" >Ajouter task</a>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
