{% extends 'base.html.twig' %}
{% block title %}Edit Projet{% endblock %}
{% block body %}
    <h1>Edit Projet</h1>
    {{ include('projet/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
