{% extends 'base.html.twig' %} {% block title %}Projet index{% endblock %} {% block body %}
    <section class="flash-info" style="display: block;">
        <div class="flash-info__wrap container -lg">
            <ul class="flash-info__listitems">
                {%if save == 'e' %}
                <li class="flash-info__item" id="1">
                    <p class="flash-info__svg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44"><title>error</title><polygon points="31.33 10.87 22 20.2 12.67 10.87 10.87 12.67 20.2 22 10.87 31.33 12.67 33.13 22 23.8 31.33 33.13 33.13 31.33 23.8 22 33.13 12.67 31.33 10.87" fill="#c90c0f"></polygon><path d="M22,0A22,22,0,1,0,44,22,22,22,0,0,0,22,0Zm0,41.25A19.25,19.25,0,1,1,41.25,22,19.25,19.25,0,0,1,22,41.25Z" fill="#c90c0f"></path></svg>
                    </p>
                    <p class="flash-info__title">Lorem ipsum!</p>
                    <p class="flash-info__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ex expedita ipsum maxime molestiae optio quia quibusdam quisquam saepe sequi. Consequatur corporis dignissimos ea esse!</p>
                    <p class="flash-info__buttons">
                        <a href="#" class="btn flash-info__button -plus">ok</a>
                    </p>
                    <button type="button" class="flash-info__button -close">Fermer</button>
                </li>
                {% endif %}
                {%if save == 's' %}
                <li class="flash-info__item" id="2">
                    <p class="flash-info__svg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="45.9" height="44.48" viewBox="0 0 45.9 44.48"><title>success</title><polygon points="10.95 17.73 8.82 19.64 20.51 32.65 45.9 3.08 43.73 1.21 20.46 28.32 10.95 17.73" fill="#0cc964"></polygon><path d="M43.08,14.39l-2.68.91.24.71A19.38,19.38,0,1,1,32.18,5.56l.65.38,1.44-2.43-.64-.39a22.25,22.25,0,1,0,9.69,12Z" fill="#0cc964"></path></svg>
                    </p>
                    <p class="flash-info__title">Lorem ipsum!</p>
                    <p class="flash-info__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ex expedita ipsum maxime molestiae optio quia quibusdam quisquam saepe sequi. Consequatur corporis dignissimos ea esse!</p>
                    <p class="flash-info__buttons">
                        <a href="#" class="btn flash-info__button -plus">ok</a>
                    </p>
                    <button type="button" class="flash-info__button -close">Fermer</button>
                </li>
                {% endif %}
            </ul>
        </div>
    </section>
    <div class="app-main__inner">
        <div class="app-main__top">
            <nav aria-label="Vous êtes ici" class="breadcrumb">
                <ol>
                    <li><a href="#">Dashboard</a></li>
                    <li><span aria-current="page">Projects</span></li>
                </ol>
            </nav>
            <div class="app-main__top-btns">
                <div class="js-dropdown dropdown__switcher -view -has-arrow">
                    <button type="button" class="js-dropdown__toggle dropdown" aria-controls="relations-ueyhnr7y1ns"
                            aria-expanded="false"><i class="fas fa-th-large"></i> <span title="Show as">Show as</span>
                    </button>
                    <div class="js-dropdown__block dropdown__drop" id="relations-ueyhnr7y1ns" aria-hidden="true">
                        <ul>
                            <li class="dropdown__item"><a href="{{ path('app_projet_index', {'mode': 'list'}) }}"
                                                          class="dropdown__link " tabindex="-1"> List </a></li>
                            <li class="dropdown__item"><a href="{{ path('app_projet_index', {'mode': 'grid'}) }}"
                                                          class="dropdown__link " tabindex="-1"> Grid </a></li>
                        </ul>
                    </div>
                </div>
                <a class="btn" data-fa-icon="&#xf319;" href="{{ path('app_projet_new') }}">Create Project</a></div>
        </div>
        <div class="filters">
            <div class="filters__container">
                <div class="filters__dropdown">
                    <form action="{{ path('app_projet_index') }}" method="get">
                        <fieldset>
                            <legend class="ghost"> Filtrer les undefined par:</legend>
                            <div class="filters__wrapper">
                                <div class="filters__fields flex-row ">
                                    <div class="filters__field col-lg-3 col-md-6 col-xs-12 -hidden-label ">
                                        <div class="js-dropdown dropdown__switcher -select -wide js-dropdown-search -has-arrow">
                                            <input type="hidden" name="porject_name" id="project_name" value="">
                                            <button type="button" class="js-dropdown__toggle dropdown"
                                                    aria-controls="relations-ueyhnr7y1ns" aria-expanded="false"><span
                                                        title="Project name">Project name</span></button>
                                            <div class="js-dropdown__block dropdown__drop" id="relations-ueyhnr7y1ns"
                                                 aria-hidden="true"><label for="input-afdh41cui7n" class="ghost">Saisir
                                                    un mot-clé</label> <input id="input-afdh41cui7n" type="text"
                                                                              class="js-dropdown-search-input"
                                                                              autocomplete="off">
                                                <ul> {% for projet in projetall %}
                                                        <li class="dropdown__item"><a href="#" value="{{ projet.id }}"
                                                                                      class="dropdown__link js-dropdown-search-title filtrelinkprojet"
                                                                                      tabindex="-1">{{ projet.name }}</a>
                                                        </li> {% endfor %} </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="filters__field col-lg-2 col-md-6 col-xs-12 -hidden-label ">
                                        <div class="js-dropdown dropdown__switcher -select -wide -has-arrow"><input
                                                    type="hidden" name="stauts_name" class="project_status" value="">
                                            <button type="button" class="js-dropdown__toggle dropdown"
                                                    aria-controls="relations-ueyhnr7y1ns" aria-expanded="false"><span
                                                        title="Status project" class="init">Status project</span>
                                            </button>
                                            <div class="js-dropdown__block dropdown__drop" id="relations-ueyhnr7y1ns"
                                                 aria-hidden="true">
                                                <ul name="status"> {% for statu in status %}
                                                        <li class="dropdown__item"><a href="#" value="{{ statu.id }}"
                                                                                      class="dropdown__link filtrelinkstaut "
                                                                                      tabindex="-1"> <span
                                                                        class="status "
                                                                        style="border-color: {{ statu.color }}"> <span
                                                                            class="ghost">Status is </span> <span
                                                                            class="circle"
                                                                            style="background-color: {{ statu.color }}"></span> </span> {{ statu.name }}
                                                            </a></li> {% endfor %} </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="filters__field col-lg-7 col-md-12 col-xs-12 -hidden-label -bottom-line">
                                        <label for="keyword3">Name</label> <input type="text" name="keyword3"
                                                                                  id="keyword3" value="{{ keyword3 }}"
                                                                                  placeholder="File name or url"></div>
                                </div>
                                <div class="filters__buttons">
                                    <button type="submit" class="btn filters__button -submit" data-fa-icon="&#xf0b0;">
                                        Filtrer
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div> {% if mode=='grid' %}
            <section class="projects">
                <div class="projects__block -four-columns"> {% for projet in projets %}
                        <article class="projects__item ">
                            <div class="projects__picture"><img src="data:image/jpg;base64,{{ projet.img }}" alt=""/>
                            </div>
                            <div class="projects__content"><h3 class="projects__title"><a
                                            href="{{ path('app_projet_show', {'id': projet.id}) }}"
                                            class="projects__title-link">{{ projet.name }}</a></h3>
                                <div class="projects__edit-btn-wrapper"><a
                                            href="{{ path('app_projet_edit', {'id': projet.id}) }}"
                                            class="projects__edit-btn" data-fa-icon="&#xf0b1;">Edit project</a></div>
                                <div class="projects__content-info "><p
                                            class="updated"> {% set endDate=projet.date %} {% set startDate="now"|date("Y-m-d") %} {% set difference = date(endDate).diff(date(startDate)) %} {% set leftDays = difference.days %}
                                        last updated {{ leftDays }} days ago </p>
                                    <p class="task-counter">{{ projet.task }} tasks</p></div>
                            </div>
                        </article> {% endfor %} </div>
            </section> {% else %}
            <section class="tasks">
                <div class="table">
                    <table class="table-responcive table-xs mb-0" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Titre</th>
                            <th>Project</th>
                            <th>Visible by client</th>
                            <th>Files</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody> {% for projet in projets %}
                            <tr>
                                <td><a href="#"> {{ projet.id }} </a></td>
                                <td class="w-45"><p class="name"><a href="#"> <span
                                                    class="opacity-5">{{ projet.name }}</span> </a></p>
                                    <p class="mb-1 opacity-5"></p>
                                    <p class="opacity-5 mb-0"> Statut : <span class="status -yellow "> <span
                                                    class="ghost">Status is {{ (projet.status.color) }}</span> <span
                                                    class="circle"></span> </span> {{ (projet.status.name) }} </p></td>
                                <td><a href="#"> {{ projet.name }} </a></td>
                                <td class="w-15"><i class="fas fa-check-circle"></i> Yes</td>
                                <td class="w-15"><a href="#"> 0 files </a></td>
                                <td class="text-right w-15"><a class="btn -no-text -darked js-tooltip" title="View task"
                                                               data-fa-icon="&#xf06e;"
                                                               href="{{ path('app_projet_show', {'id': projet.id}) }}">Create
                                        project</a> <a class="btn -no-text -darked js-tooltip" title="Edit task"
                                                       data-fa-icon="&#xf044;"
                                                       href="{{ path('app_projet_edit', {'id': projet.id}) }}">Create
                                        task</a>
                                    <form method="post" action="{{ path('app_projet_delete', {'id': projet.id}) }}"
                                          onsubmit="return confirm('Are you sure you want to delete this item?');">
                                        <input type="hidden" name="_token"
                                               value="{{ csrf_token('delete' ~ projet.id) }}">
                                        <button class="btn -no-text js-tooltip" title="Remove task"
                                                data-fa-icon="&#xf2ed;">Remove task status
                                        </button>
                                    </form>
                                </td>
                            </tr> {% endfor %} </tbody>
                    </table>
                </div>
            </section> {% endif %}
        <div id="pagination-container"></div>
    </div> {% endblock %}