{% extends 'base.html.twig' %}
{% block title %}New Projet{% endblock %}
{% block body %}
    <h1>Create new Projet</h1>
    {{ include('projet/_form.html.twig') }}
{#    {{ include('task/_form.html.twig') }}#}
{#    <a href="{{ path('app_projet_index') }}">back to list</a>#}
{% endblock %}
