{% extends 'base.html.twig' %} {% block body %}
    <div class="app-main__inner">
        <div class="app-main__top">
            <nav aria-label="Vous êtes ici" class="breadcrumb">
                <ol>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Test project</a></li>
                    <li><span aria-current="page">View project</span></li>
                </ol>
            </nav>
            <div class="app-main__top-btns"><a class="btn" data-fa-icon="&#xf044;"
                                               href="{{ path('app_projet_edit', {'id': projet.id}) }}">Edit project</a>
                <a class="btn -dark" data-fa-icon="&#xf03a;" href="{{ path('app_projet_index') }}">Project list</a>
            </div>
        </div>
        <section class="project">
            <article class="projects__item -left">
                <div class="projects__picture"><img src="data:image/jpg;base64,{{ projet.img }}" alt=""/></div>
                <div class="projects__content"><h3 class="projects__title"><a href="#"
                                                                              class="projects__title-link">{{ projet.name }}</a>
                    </h3>
                    <ul class="user-list">
                        <li class="user-list__item">
                            <div class="user-list__avatar js-tooltip" title="User 1"><img
                                        src="https://picsum.photos/id/1/46/46?random=1" alt="user 1"></div>
                        </li>
                        <li class="user-list__item">
                            <div class="user-list__avatar js-tooltip" title="User 2"><img
                                        src="https://picsum.photos/id/2/46/46?random=1" alt="user 2"></div>
                        </li>
                        <li class="user-list__item">
                            <div class="user-list__avatar js-tooltip" title="User 3"><img
                                        src="https://picsum.photos/id/3/46/46?random=1" alt="user 3"></div>
                        </li>
                        <li class="user-list__item">
                            <div class="user-list__avatar js-tooltip" title="User 4"><img
                                        src="https://picsum.photos/id/4/46/46?random=1" alt="user 4"></div>
                        </li>
                        <li class="user-list__item">
                            <div class="user-list__avatar js-tooltip" title="User 5"><img
                                        src="https://picsum.photos/id/5/46/46?random=1" alt="user 5"></div>
                        </li>
                    </ul>
                    <div class="projects__content-info "><p
                                class="updated"> {% set endDate=projet.date %} {% set startDate="now"|date("Y-m-d") %} {% set difference = date(endDate).diff(date(startDate)) %} {% set leftDays = difference.days %}
                            last updated {{ leftDays }} days ago</p></div>
                </div>
            </article>
            <div class="table -responsive">
                <table class="table-responsive table-xs mb-0" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titre</th>
                        <th>Vue responsive</th>
                        <th>Visible by client</th>
                        <th>Files</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody> {% for task in tasks %}
                        <tr>
                            <td><a href="#"> {{ task.id }} </a></td>
                            <td class="w-25"><p class="name"><a href="#"> <span class="opacity-5">{{ task.name }}</span>
                                    </a></p>
                                <p class="mb-1 opacity-5"> {% set endDate=task.date %} {% set startDate="now"|date("Y-m-d") %} {% set difference = date(endDate).diff(date(startDate)) %} {% set leftDays = difference.days %}
                                    last updated {{ leftDays }} days ago </p>
                                <p class="opacity-5 mb-0"> Statut : <span class="status"
                                                                          style="border-color: {{ task.statu.color }}"> <span
                                                class="ghost">Status is </span> <span class="circle"
                                                                                      style="background-color: {{ task.statu.color }}"></span> </span> {{ task.statu.name }}
                                </p></td>
                            <td class="w-20">
                                <div class="project-views"><span class="far fa-desktop" title="Large screen"
                                                                 aria-hidden="true"></span> <span class="far fa-laptop"
                                                                                                  title="Laptop screen"
                                                                                                  aria-hidden="true"></span>
                                    <span class="far fa-tablet is-disabled" title="Tablet screen"
                                          aria-hidden="true"></span> <span class="far fa-mobile is-disabled"
                                                                           title="Mobile screen"
                                                                           aria-hidden="true"></span></div>
                            </td>
                            <td class="w-15"><i class="fas fa-times-circle"></i> No</td>
                            <td class="w-20"><a href="#"> {{ task.file }} </a></td>
                            <td class="text-right w-15"><a class="btn -no-text -darked js-tooltip" title="View task"
                                                           data-fa-icon="&#xf06e;"
                                                           herf="{{ path('app_task_show', {'id': task.id}) }}">Create
                                    project</a> <a class="btn -no-text -darked js-tooltip" title="Edit task"
                                                   data-fa-icon="&#xf044;"
                                                   herf="{{ path('app_task_edit', {'id': task.id}) }}">Create task</a>
                                <a class="btn -no-text js-tooltip" title="Remove task" data-fa-icon="&#xf2ed;"
                                   href="{{ path('app_task_delete', {'id': task.id}) }}">Remove task status</a></td>
                        </tr> {% endfor %} </tbody>
                </table>
            </div>
        </section>
        <div id="pagination-container"></div>
    </div> {% endblock %}