{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}
{% block body %}
        <div class="app-main__inner">
            <div class="app-main__top">
                <nav aria-label="Vous êtes ici" class="breadcrumb">
                    <ol>
                        <li><a href="#">Dashboard</a></li>
                        <li><span aria-current="page">Tasks</span></li>
                    </ol>
                </nav>
            </div>
            <div class="filters">
                <div class="filters__container">
                    <div class="filters__dropdown">
                        <form action="#" method="get">
                            <fieldset>
                                <legend class="ghost"> Filtrer les undefined par:</legend>
                                <div class="filters__wrapper">
                                    <div class="filters__fields flex-row -is-epanded">
                                        <div class="filters__field -witout-columns col-md-6 col-xs-12 -expanded-offset -hidden-label ">
                                            <div class="info-item -lg ">
                                                <div class="info-item__name"><i class="info-item__icon -custom"> <span class="ghost">icon</span> </i> <span
                                                            class="info-item__name-text"> Project </span></div>
                                                <div class="info-item__value"> Test project 1</div>
                                                <a href="#" class="info-item__link js-tooltip"
                                                   data-content="View task in GRC"> grc </a></div>
                                        </div>
                                        <div class="filters__field -witout-columns col-md-6 col-xs-12 -expanded-offset -hidden-label ">
                                            <div class="info-item -lg ">
                                                <div class="info-item__name"><i class="info-item__icon"
                                                                                data-fa-icon=""> <span class="ghost">icon</span>
                                                    </i> <span class="info-item__name-text"> Task </span></div>
                                                <div class="info-item__value"> Task name 1</div>
                                                <a href="#" class="info-item__link js-tooltip"
                                                   data-content="View task in GRC"> grc </a></div>
                                        </div>
                                        <div class="filters__field -witout-columns col-md-12 col-xs-12 -expanded-offset -hidden-label ">
                                            <div class="info-item ">
                                                <div class="info-item__name"><i class="info-item__icon"
                                                                                data-fa-icon=""> <span class="ghost">icon</span>
                                                    </i> <span class="info-item__name-text"> Status </span></div>
                                                <div class="filters__field col-lg-2 col-md-6 col-xs-12 -hidden-label ">
                                                    <div class="js-dropdown dropdown__switcher -select -wide -has-arrow"><input
                                                                type="hidden" name="stauts_name" class="project_status" value="">
                                                        <button type="button" class="js-dropdown__toggle dropdown"
                                                                aria-controls="relations-ueyhnr7y1ns" aria-expanded="false"><span
                                                                    title="Status project" class="init">Status project</span>
                                                        </button>
                                                        <div class="js-dropdown__block dropdown__drop" id="relations-ueyhnr7y1ns"
                                                             aria-hidden="true">
                                                            <ul name="status"> {% for statu in status %}
                                                                    <li class="dropdown__item"><a href="#" value="{{ statu.id }}"
                                                                                                  class="dropdown__link filtrelinkstaut "
                                                                                                  tabindex="-1"> <span
                                                                                    class="status "
                                                                                    style="border-color: {{ statu.color }}"> <span
                                                                                        class="ghost">Status is </span> <span
                                                                                        class="circle"
                                                                                        style="background-color: {{ statu.color }}"></span> </span> {{ statu.name }}
                                                                        </a></li> {% endfor %} </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="filters__field -witout-columns col-md-12 col-xs-12 -expanded-offset -hidden-label ">
                                            <div class="info-item -lg ">
                                                <div class="info-item__name"><i class="info-item__icon"
                                                                                data-fa-icon=""> <span class="ghost">icon</span>
                                                    </i> <span class="info-item__name-text"> File </span></div>
                                                <div class="info-item__dropdown">
                                                    <div class="js-dropdown dropdown__switcher -has-arrow">
                                                        <button type="button" class="js-dropdown__toggle dropdown"
                                                                aria-controls="relations-i7k19h36ufs"
                                                                aria-expanded="false"><span title="File name 1">File name 1</span>
                                                        </button>
                                                        <div class="js-dropdown__block dropdown__drop"
                                                             id="relations-i7k19h36ufs" aria-hidden="true">
                                                            <ul>
                                                                {% for task in tasks %}
                                                                <li class="dropdown__item"><a href="#"
                                                                                              class="dropdown__link "
                                                                                              tabindex="-1"> {{ task.file }}
                                                                        1 </a>
                                                                {% endfor %}
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="filters__buttons">
                                        <div class="js-dropdown dropdown__switcher -select -all -has-arrow -hidden-arrow">
                                            <button type="button" class="js-dropdown__toggle dropdown"
                                                    aria-controls="relations-wd8r5vz6p8o" aria-expanded="false"><i
                                                        class="fas fa-paste"></i> <span title="Version history">Version history</span>
                                            </button>
                                            <div class="js-dropdown__block dropdown__drop" id="relations-wd8r5vz6p8o"
                                                 aria-hidden="true">
                                                <ul>
                                                    <li class="dropdown__item"><a href="#" class="dropdown__link "
                                                                                  tabindex="-1">
                                                            <div class="index">1</div>
                                                            Task name 1 </a></li>
                                                    <li class="dropdown__item"><a href="#" class="dropdown__link "
                                                                                  tabindex="-1">
                                                            <div class="index">2</div>
                                                            Task name 2 </a></li>
                                                    <li class="dropdown__item"><a href="#" class="dropdown__link "
                                                                                  tabindex="-1">
                                                            <div class="index">3</div>
                                                            Task name 3 </a></li>
                                                    <li class="dropdown__item"><a href="#" class="dropdown__link "
                                                                                  tabindex="-1">
                                                            <div class="index">4</div>
                                                            Task name 4 </a></li>
                                                    <li class="dropdown__item"><a href="#" class="dropdown__link "
                                                                                  tabindex="-1">
                                                            <div class="index">5</div>
                                                            Task name 5 </a></li>
                                                    <li class="dropdown__item"><a href="#" class="dropdown__link "
                                                                                  tabindex="-1">
                                                            <div class="index">6</div>
                                                            Task name 6 </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <section class="tasks">
                <div class="tasks__title">
                    <div class="list-title"><h2 class="list-title__text">Vue(s) responsive(s)</h2>
                        <div class="list-title__views"><a href="#" class="list-title__view-link is-active">Tous</a> <a
                                    href="#" class="list-title__view-link"> <span class="far fa-desktop"
                                                                                  aria-hidden="true"></span> <span
                                        class="ghost">Show large screen</span> </a> <a href="#"
                                                                                       class="list-title__view-link">
                                <span class="far fa-laptop" aria-hidden="true"></span> <span class="ghost">Show laptop screen</span>
                            </a> <a href="#" class="list-title__view-link is-disabled"> <span class="far fa-tablet"
                                                                                              aria-hidden="true"></span>
                                <span class="ghost">Show tablet screen</span> </a> <a href="#"
                                                                                      class="list-title__view-link">
                                <span class="far fa-mobile" aria-hidden="true"></span> <span class="ghost">Show mobile screen</span>
                            </a></div>
                    </div>
                </div>
                <div class="tasks__block -four-columns">
                    {% for task in tasks %}
                    <article class="projects__item -tasks">
                        <button type="button" class="viewed js-tooltip" data-content="Not validate by client"><i
                                    class="far fa-eye-slash"></i></button>
                        <div class="projects__picture"><img src="{{ asset('../uploads/' ~task.file) }}" alt="Image"></div>
                        <div class="projects__content">
                            <div class="projects__content-revision">
                                <div class="main-info"><p class="main-info__title"><a href="#"
                                                                                      class="main-info__title-link">2
                                            revisions</a></p>
                                    <div class="main-info__secondary">
                                        <div class="main-info__formats"><a href="#"><span class="format -pdf"
                                                                                          data-fa-icon="">pdf</span></a>
                                            <a href="#"><span class="format -jpg" data-fa-icon="">jpg</span></a></div>
                                        <div class="main-info__screen">
                                            <div class="main-info__screen-icon"><span class="far fa-laptop"
                                                                                      aria-hidden="true"></span></div>
                                            <span class="main-info__screen-title">Grand écran</span></div>
                                    </div>
                                </div>
                                <div class="time-date"><p class="time-date__item -time" data-fa-icon="">{{ task.time ? task.time|date('H:i:s') : '' }}</p>
                                    <p class="time-date__item -date" data-fa-icon="">{{ task.date ? task.date|date('Y-m-d') : '' }}</p></div>
                            </div>
                        </div>
                    </article>
                    {% endfor %}

                </div>
            </section>
            <section class="tasks">
                <div class="tasks__title">
                    <div class="list-title"><h2 class="list-title__text">Versions précédentes</h2></div>
                </div>
                <div class="tasks__block -four-columns">
                    {% for task in tasks %}
                    <article class="projects__item -tasks">
                        <button type="button" class="viewed js-tooltip" data-content="Not validate by client"><i
                                    class="far fa-eye-slash"></i></button>
                        <div class="projects__picture"><img src="//picsum.photos/387/287" alt="Image"></div>
                        <div class="projects__content">
                            <div class="projects__content-revision">
                                <div class="main-info"><p class="main-info__title"><a href="#"
                                                                                      class="main-info__title-link">2
                                            revisions</a></p>
                                    <div class="main-info__secondary">
                                        <div class="main-info__formats"><a href="#"><span class="format -pdf"
                                                                                          data-fa-icon="">pdf</span></a>
                                            <a href="#"><span class="format -jpg" data-fa-icon="">jpg</span></a></div>
                                        <div class="main-info__screen">
                                            <div class="main-info__screen-icon"><span class="far fa-tablet"
                                                                                      aria-hidden="true"></span></div>
                                            <span class="main-info__screen-title">Grand écran</span></div>
                                    </div>
                                </div>
                                <div class="time-date"><p class="time-date__item -time" data-fa-icon="">8:40:09</p>
                                    <p class="time-date__item -date" data-fa-icon="">2019-11-16</p></div>
                            </div>
                        </div>
                    </article>
                    {% endfor %}

                </div>
            </section>
        </div>





    {#    <h1>Task index</h1> #}

    {#    <table class="table"> #}
    {#        <thead> #}
    {#            <tr> #}
    {#                <th>Id</th> #}
    {#                <th>Name</th> #}
    {#                <th>Date</th> #}
    {#                <th>Time</th> #}
    {#                <th>File</th> #}
    {#                <th>actions</th> #}
    {#            </tr> #}
    {#        </thead> #}
    {#        <tbody> #}
    {#        {% for task in tasks %} #}
    {#            <tr> #}
    {#                <td>{{ task.id }}</td> #}
    {#                <td>{{ task.name }}</td> #}
    {#                <td>{{ task.date ? task.date|date('Y-m-d') : '' }}</td> #}
    {#                <td>{{ task.time ? task.time|date('H:i:s') : '' }}</td> #}
    {#                <td>{{ task.file }}</td> #}
    {#                <td> #}
    {#                    <a href="{{ path('app_task_show', {'id': task.id}) }}">show</a> #}
    {#                    <a href="{{ path('app_task_edit', {'id': task.id}) }}">edit</a> #}
    {#                </td> #}
    {#            </tr> #}
    {#        {% else %} #}
    {#            <tr> #}
    {#                <td colspan="6">no records found</td> #}
    {#            </tr> #}
    {#        {% endfor %} #}
    {#        </tbody> #}
    {#    </table> #}

    {#    <a href="{{ path('app_task_new') }}">Create new</a> #}
{% endblock %}
