<form method="post" action="{{ path('app_taskresponsives_delete', {'id': taskresponsife.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ taskresponsife.id) }}">
    <button class="btn">Delete</button>
</form>
