{% extends 'base.html.twig' %}

{% block title %}Edit Taskresponsives{% endblock %}

{% block body %}
    <h1>Edit Taskresponsives</h1>

    {{ include('taskresponsives/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_taskresponsives_index') }}">back to list</a>

    {{ include('taskresponsives/_delete_form.html.twig') }}
{% endblock %}
