{% extends 'base.html.twig' %}

{% block title %}Taskresponsives index{% endblock %}

{% block body %}
    <h1>Taskresponsives index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for taskresponsife in taskresponsives %}
            <tr>
                <td>{{ taskresponsife.id }}</td>
                <td>
                    <a href="{{ path('app_taskresponsives_show', {'id': taskresponsife.id}) }}">show</a>
                    <a href="{{ path('app_taskresponsives_edit', {'id': taskresponsife.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_taskresponsives_new') }}">Create new</a>
{% endblock %}
