{% extends 'base.html.twig' %}

{% block title %}New Taskresponsives{% endblock %}

{% block body %}
    <h1>Create new Taskresponsives</h1>

    {{ include('taskresponsives/_form.html.twig') }}

    <a href="{{ path('app_taskresponsives_index') }}">back to list</a>
{% endblock %}
