{% extends 'base.html.twig' %}

{% block title %}Taskresponsives{% endblock %}

{% block body %}
    <h1>Taskresponsives</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ taskresponsife.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_taskresponsives_index') }}">back to list</a>

    <a href="{{ path('app_taskresponsives_edit', {'id': taskresponsife.id}) }}">edit</a>

    {{ include('taskresponsives/_delete_form.html.twig') }}
{% endblock %}
