<!doctype html>
<html lang="fr">
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous"> {% block stylesheets %}
        <link rel="preconnect" href="../../fonts.googleapis.com/index.html" crossorigin>
        <link rel="stylesheet" href="{{ asset('../css/core.css') }}">
        <link rel="stylesheet" media="print" href="{{ asset('../css/print.css') }}"/>
        <link rel="stylesheet" href="{{ asset('../css/pagination.css') }}"/> {% endblock %} {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.6.1.js"
                integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.js"></script>
        <script src="{{ asset('../js/lang/fr.js') }}"></script> {% endblock %} </head>
<body class=" -menu-is-opened">
<div class="site-wrapper-out">
    <div class="site-wrapper">
        <aside class="app-sidebar">
            <div class="logo__wrap"><a href="#">
                    <picture class="logo-wrap__big"><img src="{{ asset('../images/logos/logo.svg') }}" class="logo"
                                                         alt="logo"></picture>
                    <picture class="logo-wrap__min"><img src="{{ asset('../images/logos/logo-min.svg') }}" class="logo"
                                                         alt="logo"></picture>
                </a></div>
            <nav class="app-sidebar__nav"><h3 class="app-sidebar__title">Dashboard</h3>
                <ul class="app-sidebar__list">
                    <li class="app-sidebar__item"><a href="{{ path('app_projet_index') }}"
                                                     class="app-sidebar__link -projects"><i
                                    class="fas fa-grip-vertical"></i><span>Projects</span></a></li>
                    <li class="app-sidebar__item"><a href="{{ path('app_task_index') }}"
                                                     class="app-sidebar__link -tasks"><i class="fas fa-paste"></i><span>Tasks</span></a>
                    </li>
                    <li class="app-sidebar__item"><a href="{{ path('app_status_index') }}"
                                                     class="app-sidebar__link -status"><i
                                    class="fas fa-badge-check"></i><span>Task statuses</span></a></li>
                    <li class="app-sidebar__item"><a href="#" class="app-sidebar__link -files"><i
                                    class="fas fa-file"></i><span>Files</span></a></li>
                </ul>
            </nav>
            <div class="app-sidebar__extranet"><h3 class="app-sidebar__title -capitalize">Users</h3>
                <ul class="app-sidebar__list">
                    <li class="app-sidebar__item"><a href="{{ path('app_users_index') }}" class="app-sidebar__link -users"><i
                                    class="fas fa-user"></i><span>Users</span></a></li>
                    <li class="app-sidebar__item"><a href="{{ path('app_usergroups_index') }}" class="app-sidebar__link -group"><i
                                    class="fas fa-users"></i><span>User groups</span></a></li>
                </ul>
            </div>
            <div class="app-sidebar__settings"><h3 class="app-sidebar__title -capitalize">Settings</h3>
                <div class="js-dropdown dropdown__switcher -smooth -has-arrow">
                    <button type="button" class="js-dropdown__toggle dropdown app-sidebar__link"
                            aria-controls="relations-ueyhnr7y1ns" aria-expanded="false"><i class="fas fa-globe"></i>
                        <span title="Integrations">Integrations</span></button>
                    <div class="js-dropdown__block app-sidebar__drop" id="relations-ueyhnr7y1ns" aria-hidden="true">
                        <ul>
                            <li class="app-sidebar__item"><a href="#" class="app-sidebar__link " tabindex="-1"> Creation
                                    API </a></li>
                            <li class="app-sidebar__item"><a href="#" class="app-sidebar__link " tabindex="-1">
                                    Gitlab </a></li>
                            <li class="app-sidebar__item"><a href="#" class="app-sidebar__link " tabindex="-1"> GRC </a>
                            </li>
                            <li class="app-sidebar__item"><a href="#" class="app-sidebar__link " tabindex="-1"> Web
                                    look </a></li>
                        </ul>
                    </div>
                </div>
                <div class="js-dropdown dropdown__switcher -smooth -has-arrow">
                    <button type="button" class="js-dropdown__toggle dropdown app-sidebar__link"
                            aria-controls="relations-ueyhnr7y1ns" aria-expanded="false"><i class="fas fa-bells"></i>
                        <span title="Notifications">Notifications</span></button>
                    <div class="js-dropdown__block app-sidebar__drop" id="relations-ueyhnr7y1ns" aria-hidden="true">
                        <ul>
                            <li class="app-sidebar__item"><a href="#" class="app-sidebar__link " tabindex="-1">
                                    General </a></li>
                            <li class="app-sidebar__item"><a href="#" class="app-sidebar__link " tabindex="-1">
                                    Mail </a></li>
                            <li class="app-sidebar__item"><a href="#" class="app-sidebar__link " tabindex="-1">
                                    Revision </a></li>
                            <li class="app-sidebar__item"><a href="#" class="app-sidebar__link " tabindex="-1">
                                    Access </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <main class="app-main" role="main" id="main">
            <header class="site-header header" role="banner">
                <button class="app-sidebar__toggle"><span class="line"></span> <span class="line"></span> <span
                            class="line"></span></button>
                <div class="header-bar">
                    <div class="js-dropdown lang__switcher -has-arrow">
                        <button type="button" class="js-dropdown__toggle lang__current"
                                aria-controls="relations-ueyhnr7y1ns" aria-expanded="false"><span title="English">English</span>
                        </button>
                        <div class="js-dropdown__block lang__drop" id="relations-ueyhnr7y1ns" aria-hidden="true">
                            <ul>
                                <li class="lang__item"><a href="#" class="lang__link " tabindex="-1"> <abbr lang="de"
                                                                                                            title="Deutsch">Deutsch</abbr>
                                    </a></li>
                                <li class="lang__item"><a href="#" class="lang__link " tabindex="-1"> <abbr lang="fr"
                                                                                                            title="French">French</abbr>
                                    </a></li>
                                <li class="lang__item"><a href="#" class="lang__link " tabindex="-1"> <abbr lang="ru"
                                                                                                            title="русский">Russian</abbr>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="user-avatar js-dropdown">
                        <button type="button" class="user-avatar__button js-dropdown__toggle js-tooltip"
                                title="User Name"><span class="user-avatar__link"> <picture> <img
                                            src="{{ asset('../images/tile-bg.png') }}"
                                            alt="User Name"> </picture> </span></button>
                        <div class="user-avatar__drop js-dropdown__block">
                            <ul class="user-avatar__items">
                                <li class="user-avatar__item"><a href="#" class="user-avatar__item-link"> <i
                                                class="far fa-user" aria-hidden="true"></i> <span>Profil</span> </a>
                                </li>
                                <li class="user-avatar__item"><a href="#" class="user-avatar__item-link"> <i
                                                class="fal fa-key" aria-hidden="true"></i> <span>Déconnexion</span> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <div class="app-main__outer">
                <div class="modal-questions -not-all-screen" id="modal-questions"><h2 class="modal-questions__title">
                        Voulez-vous que le message réapparaisse?</h2>
                    <button class="btn btn-modal" data-time="temporary">Oui</button>
                    <button class="btn btn-modal" data-time="always">Non</button>
                </div> {% block body %}{% endblock %} </div>
        </main>
        <div class="site-hidden"></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="{{ asset('../js/tarteaucitron.js') }}"></script>
<script src="{{ asset('../js/no-export.tarteaucitron.bundle.html') }}"></script>
<script src="{{ asset('../js/demo-symfony.js') }}"></script>
<script src="{{ asset('../js/core.bundle.js') }}" defer></script>
</body>
</html>